<!DOCTYPE html>
<html>
<head> 
    <title>Realtime Markdown Viewer</title>
    <link href="/bootstrap" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>

<body class="container-fluid">

    <section class="row">
        <textarea class="col-md-6 full-height" id="pad"></textarea>
        <div class="col-md-6 full-height" id="markdown"></div>
    </section>

    <script src="/marked"></script>
    <script src="script.js"></script>
</body>
</html>
